{
  "openapi": "3.1.0",
  "info": {
    "title": "NinjaChat API",
    "version": "1.0.0",
    "description": "Clean-break NinjaChat v1. Chat and Responses bill actual token usage; images and videos use catalog unit pricing."
  },
  "servers": [
    {
      "url": "https://www.ninjachat.ai/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "NinjaChat API key",
        "description": "Use an API key created in the NinjaChat developer console."
      }
    },
    "schemas": {
      "RoutingSummary": {
        "type": "object",
        "properties": {
          "strategy": {
            "type": "string",
            "enum": [
              "balanced",
              "cost",
              "latency",
              "quality"
            ]
          },
          "requested_models": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            }
          },
          "resolved_model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "fallbacks_allowed": {
            "type": "boolean"
          },
          "data_policy": {
            "type": "string",
            "enum": [
              "default",
              "no_training",
              "zero_retention"
            ]
          },
          "caching": {
            "type": "string",
            "enum": [
              "auto"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "request",
              "project",
              "default"
            ]
          }
        },
        "required": [
          "strategy",
          "requested_models",
          "resolved_model",
          "provider",
          "fallbacks_allowed",
          "data_policy"
        ],
        "additionalProperties": false
      },
      "ResponseObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "response"
            ]
          },
          "created_at": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "completed"
            ]
          },
          "error": {
            "type": "null"
          },
          "incomplete_details": {
            "type": "null"
          },
          "instructions": {
            "type": [
              "string",
              "null"
            ]
          },
          "max_output_tokens": {
            "type": [
              "integer",
              "null"
            ]
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "output": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "message"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed"
                      ]
                    },
                    "role": {
                      "type": "string",
                      "enum": [
                        "assistant"
                      ]
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "output_text"
                            ]
                          },
                          "text": {
                            "type": "string"
                          },
                          "annotations": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "required": [
                          "type",
                          "text",
                          "annotations"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "status",
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "function_call"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "completed"
                      ]
                    },
                    "call_id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "arguments": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "status",
                    "call_id",
                    "name",
                    "arguments"
                  ],
                  "additionalProperties": false
                }
              ]
            }
          },
          "output_text": {
            "type": "string"
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "previous_response_id": {
            "type": "null"
          },
          "store": {
            "type": "boolean",
            "enum": [
              false
            ]
          },
          "usage": {
            "type": "object",
            "properties": {
              "input_tokens": {
                "type": "integer",
                "minimum": 0
              },
              "input_tokens_details": {
                "type": "object",
                "properties": {
                  "cached_tokens": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "cache_creation_tokens": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "cached_tokens",
                  "cache_creation_tokens"
                ],
                "additionalProperties": false
              },
              "output_tokens": {
                "type": "integer",
                "minimum": 0
              },
              "output_tokens_details": {
                "type": "object",
                "properties": {
                  "reasoning_tokens": {
                    "type": "integer",
                    "minimum": 0
                  }
                },
                "required": [
                  "reasoning_tokens"
                ],
                "additionalProperties": false
              },
              "total_tokens": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "input_tokens",
              "input_tokens_details",
              "output_tokens",
              "output_tokens_details",
              "total_tokens"
            ],
            "additionalProperties": false
          },
          "cost_usd": {
            "type": "number",
            "minimum": 0
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "request_id": {
            "type": "string"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingSummary"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "object",
          "created_at",
          "status",
          "error",
          "incomplete_details",
          "instructions",
          "max_output_tokens",
          "model",
          "output",
          "output_text",
          "parallel_tool_calls",
          "previous_response_id",
          "store",
          "usage",
          "cost_usd",
          "provider",
          "request_id",
          "routing",
          "metadata"
        ],
        "additionalProperties": false
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "param": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "required": [
              "message",
              "type",
              "code"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": false
      },
      "RoutingPolicy": {
        "type": "object",
        "properties": {
          "strategy": {
            "type": "string",
            "enum": [
              "balanced",
              "cost",
              "latency",
              "quality"
            ]
          },
          "providers": {
            "type": "object",
            "properties": {
              "only": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "minItems": 1,
                "maxItems": 20
              },
              "exclude": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "minItems": 1,
                "maxItems": 20
              },
              "order": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "minItems": 1,
                "maxItems": 20
              }
            },
            "additionalProperties": false
          },
          "allow_fallbacks": {
            "type": "boolean",
            "default": true
          },
          "require_parameters": {
            "type": "boolean",
            "default": true
          },
          "data_policy": {
            "type": "string",
            "enum": [
              "default",
              "no_training",
              "zero_retention"
            ],
            "default": "default"
          },
          "caching": {
            "type": "string",
            "enum": [
              "auto"
            ]
          },
          "max_cost_usd": {
            "type": "number",
            "exclusiveMinimum": 0,
            "maximum": 1000
          }
        },
        "additionalProperties": false
      },
      "ResponsesRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "minItems": 1,
            "maxItems": 15
          },
          "input": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 100000
              },
              {
                "type": "array",
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "message"
                          ]
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "developer",
                            "system",
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "anyOf": [
                            {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 100000
                            },
                            {
                              "type": "array",
                              "items": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "input_text"
                                        ]
                                      },
                                      "text": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 100000
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "text"
                                    ],
                                    "additionalProperties": false
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "input_image"
                                        ]
                                      },
                                      "image_url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "type",
                                      "image_url"
                                    ],
                                    "additionalProperties": false
                                  }
                                ]
                              },
                              "minItems": 1,
                              "maxItems": 20
                            }
                          ]
                        }
                      },
                      "required": [
                        "role",
                        "content"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function_call"
                          ]
                        },
                        "call_id": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 64
                        },
                        "arguments": {
                          "type": "string",
                          "maxLength": 100000
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "name",
                        "arguments"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "function_call_output"
                          ]
                        },
                        "call_id": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 128
                        },
                        "output": {
                          "type": "string",
                          "maxLength": 100000
                        }
                      },
                      "required": [
                        "type",
                        "call_id",
                        "output"
                      ],
                      "additionalProperties": false
                    }
                  ]
                },
                "minItems": 1,
                "maxItems": 100
              }
            ]
          },
          "instructions": {
            "type": "string",
            "maxLength": 100000
          },
          "max_output_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 131072
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "store": {
            "type": "boolean",
            "enum": [
              false
            ],
            "default": false
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "function"
                  ]
                },
                "name": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 64,
                  "pattern": "^[a-zA-Z0-9_-]+$"
                },
                "description": {
                  "type": "string",
                  "maxLength": 1024
                },
                "parameters": {
                  "type": "object",
                  "additionalProperties": {},
                  "default": {}
                },
                "strict": {
                  "type": "boolean"
                }
              },
              "required": [
                "type",
                "name"
              ],
              "additionalProperties": false
            },
            "maxItems": 32
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "function"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "type",
                  "name"
                ],
                "additionalProperties": false
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "text": {
            "type": "object",
            "properties": {
              "format": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "json_object"
                        ]
                      }
                    },
                    "required": [
                      "type"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "json_schema"
                        ]
                      },
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 1024
                      },
                      "schema": {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      "strict": {
                        "type": "boolean",
                        "default": true
                      }
                    },
                    "required": [
                      "type",
                      "name",
                      "schema"
                    ],
                    "additionalProperties": false
                  }
                ]
              }
            },
            "additionalProperties": false
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingPolicy"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "maxLength": 512
            }
          },
          "user": {
            "type": "string",
            "maxLength": 256
          }
        },
        "required": [
          "input"
        ],
        "additionalProperties": false
      },
      "ChatUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "completion_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "total_tokens": {
            "type": "integer",
            "minimum": 0
          },
          "prompt_tokens_details": {
            "type": "object",
            "properties": {
              "cached_tokens": {
                "type": "integer",
                "minimum": 0
              },
              "cache_creation_tokens": {
                "type": "integer",
                "minimum": 0
              }
            },
            "additionalProperties": false
          },
          "completion_tokens_details": {
            "type": "object",
            "properties": {
              "reasoning_tokens": {
                "type": "integer",
                "minimum": 0
              }
            },
            "additionalProperties": false
          }
        },
        "required": [
          "prompt_tokens",
          "completion_tokens",
          "total_tokens"
        ],
        "additionalProperties": false
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "chat.completion"
            ]
          },
          "created": {
            "type": "integer"
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "resolved_model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "provider": {
            "type": [
              "string",
              "null"
            ]
          },
          "choices": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "assistant"
                      ]
                    },
                    "content": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ]
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 64
                              },
                              "arguments": {
                                "type": "string",
                                "maxLength": 100000
                              }
                            },
                            "required": [
                              "name",
                              "arguments"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "function"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                "finish_reason": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "index",
                "message",
                "finish_reason"
              ],
              "additionalProperties": false
            }
          },
          "usage": {
            "$ref": "#/components/schemas/ChatUsage"
          },
          "cost_usd": {
            "type": "number",
            "minimum": 0
          },
          "request_id": {
            "type": "string"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingSummary"
          }
        },
        "required": [
          "id",
          "object",
          "created",
          "model",
          "resolved_model",
          "provider",
          "choices",
          "usage",
          "cost_usd",
          "request_id",
          "routing"
        ],
        "additionalProperties": false
      },
      "ChatCompletionsRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "minItems": 1,
            "maxItems": 15
          },
          "messages": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "developer"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      ]
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "system"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      ]
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "user"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      ]
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "assistant"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ]
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 64
                              },
                              "arguments": {
                                "type": "string",
                                "maxLength": 100000
                              }
                            },
                            "required": [
                              "name",
                              "arguments"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "function"
                        ],
                        "additionalProperties": false
                      },
                      "maxItems": 32
                    }
                  },
                  "required": [
                    "role"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "tool"
                      ]
                    },
                    "content": {
                      "type": "string",
                      "maxLength": 100000
                    },
                    "tool_call_id": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    }
                  },
                  "required": [
                    "role",
                    "content",
                    "tool_call_id"
                  ],
                  "additionalProperties": false
                }
              ]
            },
            "minItems": 1,
            "maxItems": 100
          },
          "max_completion_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 131072
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 4
              }
            ]
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "seed": {
            "type": "integer"
          },
          "user": {
            "type": "string",
            "maxLength": 256
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "response_format": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text"
                    ]
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "json_object"
                    ]
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "json_schema"
                    ]
                  },
                  "json_schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 1024
                      },
                      "schema": {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      "strict": {
                        "type": "boolean",
                        "default": true
                      }
                    },
                    "required": [
                      "name",
                      "schema"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "json_schema"
                ],
                "additionalProperties": false
              }
            ]
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "function"
                  ]
                },
                "function": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-zA-Z0-9_-]+$"
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 1024
                    },
                    "parameters": {
                      "type": "object",
                      "additionalProperties": {},
                      "default": {}
                    },
                    "strict": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "type",
                "function"
              ],
              "additionalProperties": false
            },
            "maxItems": 32
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "function"
                    ]
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "function"
                ],
                "additionalProperties": false
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingPolicy"
          }
        },
        "required": [
          "messages"
        ],
        "additionalProperties": false
      },
      "PresetChatCompletionsRequest": {
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string",
              "minLength": 1,
              "maxLength": 160
            },
            "minItems": 1,
            "maxItems": 15
          },
          "messages": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "developer"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      ]
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "system"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      ]
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "user"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        }
                      ]
                    }
                  },
                  "required": [
                    "role",
                    "content"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "assistant"
                      ]
                    },
                    "content": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 100000
                        },
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 100000
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ],
                                "additionalProperties": false
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "image_url"
                                    ]
                                  },
                                  "image_url": {
                                    "type": "object",
                                    "properties": {
                                      "url": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 7000000
                                      },
                                      "detail": {
                                        "type": "string",
                                        "enum": [
                                          "auto",
                                          "low",
                                          "high"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "url"
                                    ],
                                    "additionalProperties": false
                                  }
                                },
                                "required": [
                                  "type",
                                  "image_url"
                                ],
                                "additionalProperties": false
                              }
                            ]
                          },
                          "minItems": 1,
                          "maxItems": 20
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "tool_calls": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 128
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ]
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 64
                              },
                              "arguments": {
                                "type": "string",
                                "maxLength": 100000
                              }
                            },
                            "required": [
                              "name",
                              "arguments"
                            ],
                            "additionalProperties": false
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "function"
                        ],
                        "additionalProperties": false
                      },
                      "maxItems": 32
                    }
                  },
                  "required": [
                    "role"
                  ],
                  "additionalProperties": false
                },
                {
                  "type": "object",
                  "properties": {
                    "role": {
                      "type": "string",
                      "enum": [
                        "tool"
                      ]
                    },
                    "content": {
                      "type": "string",
                      "maxLength": 100000
                    },
                    "tool_call_id": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    }
                  },
                  "required": [
                    "role",
                    "content",
                    "tool_call_id"
                  ],
                  "additionalProperties": false
                }
              ]
            },
            "minItems": 1,
            "maxItems": 100
          },
          "max_completion_tokens": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 131072
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "stop": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1,
                "maxItems": 4
              }
            ]
          },
          "frequency_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "presence_penalty": {
            "type": "number",
            "minimum": -2,
            "maximum": 2
          },
          "seed": {
            "type": "integer"
          },
          "user": {
            "type": "string",
            "maxLength": 256
          },
          "stream": {
            "type": "boolean",
            "default": false
          },
          "stream_options": {
            "type": "object",
            "properties": {
              "include_usage": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "response_format": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text"
                    ]
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "json_object"
                    ]
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "json_schema"
                    ]
                  },
                  "json_schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      },
                      "description": {
                        "type": "string",
                        "maxLength": 1024
                      },
                      "schema": {
                        "type": "object",
                        "additionalProperties": {}
                      },
                      "strict": {
                        "type": "boolean",
                        "default": true
                      }
                    },
                    "required": [
                      "name",
                      "schema"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "json_schema"
                ],
                "additionalProperties": false
              }
            ]
          },
          "tools": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": [
                    "function"
                  ]
                },
                "function": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 64,
                      "pattern": "^[a-zA-Z0-9_-]+$"
                    },
                    "description": {
                      "type": "string",
                      "maxLength": 1024
                    },
                    "parameters": {
                      "type": "object",
                      "additionalProperties": {},
                      "default": {}
                    },
                    "strict": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "name"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "type",
                "function"
              ],
              "additionalProperties": false
            },
            "maxItems": 32
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "none",
                  "auto",
                  "required"
                ]
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "function"
                    ]
                  },
                  "function": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 128
                      }
                    },
                    "required": [
                      "name"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "type",
                  "function"
                ],
                "additionalProperties": false
              }
            ]
          },
          "parallel_tool_calls": {
            "type": "boolean"
          },
          "routing": {
            "$ref": "#/components/schemas/RoutingPolicy"
          }
        },
        "required": [
          "messages"
        ],
        "additionalProperties": false
      },
      "PublicModel": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          },
          "created": {
            "type": "integer"
          },
          "owned_by": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "name": {
            "type": "string"
          },
          "modality": {
            "type": "string",
            "enum": [
              "text",
              "image",
              "image_edit",
              "video",
              "audio",
              "embedding",
              "rerank",
              "search"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "preview",
              "ga",
              "deprecated",
              "retired"
            ]
          },
          "servable": {
            "type": "boolean"
          },
          "description": {
            "type": "string"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "contextWindow": {
            "type": "number"
          },
          "maxOutputTokens": {
            "type": "number"
          },
          "pricing": {
            "type": "object",
            "properties": {
              "unit": {
                "type": "string",
                "enum": [
                  "token",
                  "image",
                  "second",
                  "request"
                ]
              },
              "typicalRequestUsd": {
                "type": "number",
                "minimum": 0
              },
              "meteredPromptPerToken": {
                "type": "number",
                "minimum": 0
              },
              "meteredCachedPromptPerToken": {
                "type": "number",
                "minimum": 0
              },
              "meteredCacheWritePromptPerToken": {
                "type": "number",
                "minimum": 0
              },
              "meteredCompletionPerToken": {
                "type": "number",
                "minimum": 0
              },
              "perRequestUsd": {
                "type": "number",
                "minimum": 0
              },
              "perUnitUsd": {
                "type": "number",
                "minimum": 0
              },
              "listPerUnitUsd": {
                "type": "number",
                "minimum": 0
              },
              "promotion": {
                "type": "object",
                "properties": {
                  "label": {
                    "type": "string"
                  },
                  "discountPercent": {
                    "type": "number",
                    "exclusiveMinimum": 0,
                    "maximum": 100
                  },
                  "startsAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "endsAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                },
                "required": [
                  "label",
                  "discountPercent",
                  "startsAt",
                  "endsAt"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "unit"
            ],
            "additionalProperties": false
          },
          "providers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "provider": {
                  "type": "string"
                },
                "providerDisplayName": {
                  "type": "string"
                },
                "upstreamModelId": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "primary",
                    "fallback",
                    "emergency"
                  ]
                },
                "available": {
                  "type": "boolean"
                },
                "unsupportedCapabilities": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "tools",
                      "vision",
                      "json_mode",
                      "streaming"
                    ]
                  }
                },
                "trainsOnData": {
                  "type": "boolean"
                },
                "zeroRetentionAvailable": {
                  "type": "boolean"
                },
                "contextWindow": {
                  "type": "number"
                },
                "maxOutputTokens": {
                  "type": "number"
                },
                "performance": {
                  "type": [
                    "object",
                    "null"
                  ],
                  "properties": {
                    "samples": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "successRate": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "p50Ms": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "p95Ms": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "medianTtftMs": {
                      "type": [
                        "number",
                        "null"
                      ]
                    },
                    "thin": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "samples",
                    "successRate",
                    "p50Ms",
                    "p95Ms",
                    "medianTtftMs",
                    "thin"
                  ],
                  "additionalProperties": false
                }
              },
              "required": [
                "provider",
                "providerDisplayName",
                "upstreamModelId",
                "role",
                "available"
              ],
              "additionalProperties": false
            }
          },
          "supportedParameters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "brand": {
            "type": "string"
          },
          "virtual": {
            "type": "boolean"
          },
          "pricingNote": {
            "type": "string"
          },
          "overlay": {
            "type": "object",
            "properties": {
              "isOverlay": {
                "type": "boolean"
              },
              "dispatch": {
                "type": "string",
                "enum": [
                  "live",
                  "pending"
                ]
              },
              "overrideStatus": {
                "type": "string"
              }
            },
            "required": [
              "isOverlay",
              "dispatch"
            ],
            "additionalProperties": false
          },
          "history": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          }
        },
        "required": [
          "object",
          "created",
          "owned_by",
          "id",
          "name",
          "modality",
          "status",
          "servable",
          "capabilities",
          "pricing",
          "providers",
          "supportedParameters",
          "brand"
        ],
        "additionalProperties": false
      },
      "ModelListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicModel"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "generated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "object",
          "data",
          "total",
          "generated_at"
        ],
        "additionalProperties": false
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer"
          },
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "format": "uri"
                },
                "revised_prompt": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "url"
              ],
              "additionalProperties": false
            }
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "provider": {
            "type": "string"
          },
          "usage": {
            "type": "object",
            "properties": {
              "images_generated": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "images_generated"
            ],
            "additionalProperties": false
          },
          "cost_usd": {
            "type": "number",
            "minimum": 0
          },
          "request_id": {
            "type": "string"
          },
          "routing": {
            "type": "object",
            "properties": {
              "provider_attempts": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "minItems": 1
              },
              "retries": {
                "type": "integer",
                "minimum": 0
              }
            },
            "required": [
              "provider_attempts",
              "retries"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "created",
          "data",
          "model",
          "provider",
          "usage",
          "cost_usd",
          "request_id",
          "routing"
        ],
        "additionalProperties": false
      },
      "ImageGenerationRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "model": {
            "type": "string",
            "enum": [
              "nova-canvas",
              "runway-gen4-image-turbo",
              "seedream",
              "recraft-v3",
              "google-imagen-4",
              "nano-banana",
              "nano-banana-2",
              "nano-banana-pro",
              "flux-2-klein",
              "flux-2-pro",
              "flux-2-max",
              "flux-2-flex",
              "flux-schnell",
              "flux-kontext-pro",
              "flux-kontext-max",
              "flux-1-pro-ultra",
              "flux-1.1-pro",
              "flux-1-dev",
              "flux-1-fill",
              "qwen-image-3",
              "qwen-image-max",
              "seedream-4.5",
              "seedream-5-lite",
              "seedream-5-pro",
              "flux-2-klein-4b",
              "flux-2-klein-9b",
              "sdxl-turbo",
              "pruna-p-image",
              "wan-2.6-image",
              "nano-banana-2-lite",
              "bria-fibo",
              "bria-3.2",
              "qwen-image-edit-max",
              "wan-2.7-image-edit",
              "z-image-turbo",
              "qwen-image-2512",
              "flux-2-dev",
              "stable-diffusion-3.5-large",
              "qwen-image-edit-2511",
              "flux-kontext-dev",
              "grok-imagine",
              "grok-imagine-image-2.0",
              "grok-imagine-image-quality",
              "gpt-image-2"
            ],
            "default": "nano-banana-2"
          },
          "size": {
            "type": "string",
            "enum": [
              "1920x1920",
              "2560x1440",
              "1440x2560"
            ],
            "default": "1920x1920"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 4,
            "default": 1
          },
          "aspect_ratio": {
            "type": "string",
            "maxLength": 20
          },
          "image": {
            "type": "string",
            "format": "uri"
          },
          "width": {
            "type": "integer",
            "minimum": 256,
            "maximum": 2048
          },
          "height": {
            "type": "integer",
            "minimum": 256,
            "maximum": 2048
          }
        },
        "required": [
          "prompt"
        ],
        "additionalProperties": false
      },
      "VideoCreateResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "video"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ]
          },
          "model": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "cost_usd": {
            "type": "number",
            "minimum": 0
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "status",
          "model",
          "cost_usd",
          "request_id"
        ],
        "additionalProperties": false
      },
      "VideoCreateRequest": {
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 4000
          },
          "model": {
            "type": "string",
            "enum": [
              "nova-reel",
              "runway-gen4.5",
              "seedance-2",
              "seedance-2.0-fast",
              "seedance-2-mini",
              "seedance-2.0",
              "seedance-1.5-pro",
              "seedance-lite",
              "seedance-pro",
              "grok-imagine-video",
              "grok-imagine-video-1.5",
              "kling-2.5-turbo",
              "kling-3-pro",
              "wan-2.7",
              "wan-2.7-i2v",
              "wan-2.7-r2v",
              "wan-2.6",
              "wan-2.6-i2v",
              "wan-2.2-t2v-a14b",
              "fast-wan-2.2",
              "fast-wan-qad",
              "pruna-p-video",
              "pixverse-6",
              "pixverse-6-i2v",
              "cosmos-3-nano",
              "cosmos-3-super",
              "vidu-q3",
              "veo-3.1",
              "veo-3.1-fast",
              "kling-video",
              "google-veo-2",
              "google-veo-3-fast"
            ],
            "default": "veo-3.1-fast"
          },
          "duration": {
            "type": "integer",
            "minimum": 4,
            "maximum": 15,
            "default": 8
          },
          "aspect_ratio": {
            "type": "string",
            "enum": [
              "16:9",
              "9:16"
            ],
            "default": "16:9"
          },
          "image_url": {
            "type": "string",
            "format": "uri"
          },
          "end_image_url": {
            "type": "string",
            "format": "uri"
          },
          "reference_images": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            },
            "maxItems": 4
          },
          "reference_video": {
            "type": "string",
            "format": "uri"
          },
          "reference_audio": {
            "type": "string",
            "format": "uri"
          },
          "generate_audio": {
            "type": "boolean",
            "default": false
          },
          "watermark": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "prompt"
        ],
        "additionalProperties": false
      },
      "VideoStatusResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "enum": [
              "video"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "processing",
              "completed",
              "failed"
            ]
          },
          "progress": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "video_url": {
            "type": "string",
            "format": "uri"
          },
          "error": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "object",
          "status"
        ],
        "additionalProperties": false
      },
      "SearchResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "search.results"
            ]
          },
          "query": {
            "type": "string"
          },
          "answer": {
            "type": [
              "string",
              "null"
            ]
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "content": {
                  "type": "string"
                },
                "published_date": {
                  "type": [
                    "string",
                    "null"
                  ]
                }
              },
              "required": [
                "url",
                "title",
                "content",
                "published_date"
              ],
              "additionalProperties": false
            }
          },
          "images": {
            "type": "array",
            "items": {
              "type": "object",
[...]
